# cp .env.example .env
# Edit your .env file with your own values
# Don't commit your .env file to git/push to GitHub!
# Don't modify/delete .env.example unless adding extensions to the project
# which require new variable to be added to the .env file

# API CONFIG
OPENAI_API_KEY=
OPENAI_API_KEY=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
OPENAI_API_MODEL=gpt-4 # alternatively, gpt-4, text-davinci-003, etc
PINECONE_API_KEY=98a035cd-a06d-445c-a70a-70ff12ac6111
PINECONE_ENVIRONMENT=us-west4-gcp

# TABLE CONFIG
TABLE_NAME=test-table

# INSTANCE CONFIG
BABY_NAME=BabyAGI

# RUN CONFIG
OBJECTIVE=Solve world hunger
# For backwards compatibility
# FIRST_TASK can be used instead of INITIAL_TASK
INITIAL_TASK=Develop a task list

# Extensions
# List additional extensions to load (except .env.example!)
DOTENV_EXTENSIONS=
# Set to true to enable command line args support
ENABLE_COMMAND_LINE_ARGS=false
